asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
cloudinary==1.44.1
dj-database-url
Django
django-cloudinary-storage
gunicorn
idna
packaging
pillow
psycopg2-binary
requests
six
sqlparse
tzdata
urllib3
whitenoise
